{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

# TODO: Update email address and name

[data]
    osid = {{ $osid | quote }}
    email = "candrewlee14@gmail.com"
    name = "Andrew Lee"

