#!/usr/bin/env sh
echo "Running installation script\n"
{{- if eq .osid "linux-alpine" }}
apk update
apk add zsh tmux perl bash
{{- else if (or (eq .osid "debian") (eq .osid "ubuntu")) }}
sudo apt update
sudo apt install zsh tmux perl bash -y 
{{- else if eq .osid "darwin" }}
brew install neovim zsh tmux perl
{{- end }}

git clone https://github.com/AstroNvim/AstroNvim ~/.config/nvim
curl -L git.io/antigen > ~/.antigen.zsh

curl https://raw.githubusercontent.com/candrewlee14/webman/main/scripts/install.sh | sh
~/.webman/bin/webman group add modern-unix --all || echo "Not all modern-unix packages installed successfully"
~/.webman/bin/webman add fzf || echo "Fzf install failed"
~/.webman/bin/webman add zellij || echo "zellij install failed"
~/.webman/bin/webman add nvim || echo "nvim install failed"
